

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
}

.calc-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mobile-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 360px;
    border-radius: 20px 20px 20px 20px;    
    border: solid 2px #e0e1e6;
    position: relative;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.feilds-name {
    display: flex;
    position: absolute;
    top: 110px;
    text-align: center;
}

.feilds-name div {
   
    width: 65px;
    height: 35px;
}
.feilds-name :nth-child(1) {
   
    width: 135px;
    height: 35px;
}

.segmants {
    display: flex;
    flex-direction: column;
    
}
.segmants :nth-child(1){
    border-radius: 5px 0px 0px 0px;
    
}
.segmants :nth-child(4){
    border-radius: 0px 0px 0px 5px;
    
}
.segmants label {

    width: 135px;
    height: 35px;
}

.target-score {
    display: flex;
    flex-direction: column;
}
.target-score input{

    width: 65px;
    height: 35px;
}

.grade {
    display: flex;
    flex-direction: column;
}
.grade input {
    width: 65px;
    height: 35px;
}
.weight{
    display: flex;
    flex-direction: column;
}
.weight input{

    width: 65px;
    height: 35px;
}

.weight :nth-child(1){
    border-radius: 0px 5px 0px 0px;
    
}

.weight :nth-child(4){
    border-radius: 0px 0px 5px 0px;
    
}

input {
    font-size: 18px;
}

input , label {
    
    border: solid 1px #e0e1e6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.result-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;}

.result-btn {
    width: 140px;
    height: 40px;
    border: 1.2px solid #2581E9;
    border-radius: 50px;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #2581E9;
    transition: 0.8s;
}

.result-btn:hover {

    background-color: #2581E9;
    color: white;
    cursor: pointer;


}

.show-result {
    opacity: 0.5;
}
